<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <title>Análise</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- BOOTSTRAP CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <!-- BOOTSTRAP SCRIPTS -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='styleIndex.css') }}" type="text/css">
    </head>
    <body>
        <header>
          <span class="main-title">
            <h1>Análise de Dados</h1>
          </span>
        </header>
        <main class="container">
       <div class="main-charts row">
        <div class="content-chart content-chart-1 col-sm">
           <span class="chart-title">titulo 1</span>
           <div id="complexGraph" class="chart" name="chart-unique">
             <!-- Aqui vãi um dos gráficos -->
           </div>
           <span class="chart-footer"></span>
         </div>
		   	<div class="content-chart content-chart-2 col-sm">
        {% for simpleGraph in simpleGraphs %}
          <div id="display{{'simpleGraph' ~ simpleGraph['id']}}" {{'hidden' if loop.index != 1 else ''}}>
               <span class="chart-title">{{simpleGraph['title']}}</span>
               <div id="{{'simpleGraph' ~ simpleGraph['id']}}" class="chart" name="chart-translater">
                   <!-- Aqui vão os graficos que serão alternados -->
               </div>
               <span class="chart-footer"></span>
          </div>
        {% endfor %}
					<div id="control-charts">
						<form id="formRadio" name="formRadio">
							<span class="control-items">
								<span class="control-items-text">Por produto</span>
								<input type="radio" name="radio-chart" onclick="hiddenAllShowOne(this)" value="displaysimpleGraph1" class="control-item-radio">
							</span>
							<span class="control-items">
								<span class="control-items-text">Por região</span>
								<input type="radio" name="radio-chart" onclick="hiddenAllShowOne(this)" value="displaysimpleGraph2" class="control-item-radio">
							</span>
						</form>
					</div>
          </div>
        </div> 
         <div class="row">
		   <div class="non-charts">
			 <div class="non-chart-item non-chart-item-1">
				<span class="non-chart-title">{{item1}}:</span>
				<span class="non-chart-text">{{item1data}}</span>
			 </div>
			 <div class="non-chart-item non-chart-item-2">
				<span class="non-chart-title">{{item2}}</span>
				<span class="non-chart-text">{{item2data}}</span>
			 </div>
		   </div>
     </div>
        </main>
        <footer>
            <div id="footer-text"></div>
            <!-- D3.js -->
            <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
            <!-- jQuery -->
            <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
            <!-- Plotly.js -->
            <script src="https://d14fo0winaifog.cloudfront.net/plotly-basic.js"></script>

            <script type="text/javascript">
              var divs = ['complexGraph']
              var graphComplex = {{complexGraph | safe}};
              Plotly.newPlot('complexGraph', graphComplex.data, graphComplex.layout, {responsive: true});
              {% for simpleGraph in simpleGraphs %}
              var simpleGraph{{simpleGraph['id']}} = {{simpleGraph['data'] | safe}};
              Plotly.newPlot('simpleGraph{{simpleGraph['id']}}', simpleGraph{{simpleGraph['id']}}.data, {title: "{{simpleGraph['title']}}"}, {responsive: true});
              divs.push('simpleGraph{{simpleGraph['id']}}')
              {% endfor %}
              divs.forEach(function(div){
                window.addEventListener('resize', function() { Plotly.Plots.resize(document.getElementById(div)); });
              })
              function hiddenAllShowOne(radioEle){
                /* Tem que ser no formato AAA11 */
                var tamanho = null;
                document.querySelectorAll("[id^=displaysimpleGraph").forEach(function(ele){
                 tamanho = (!ele.hidden) ? ele.offsetWidth : tamanho;
                 ele.hidden = true;
               });
                document.getElementById(radioEle.value).hidden = false;
                Plotly.Plots.resize(document.getElementById(radioEle.value));
                var update = {width: tamanho};
                console.log(update);
                Plotly.relayout(radioEle.value, update);
              }
              /* Iniciando */
              /*document.getElementById('formRadio').addEventListener('change', function() {
                hiddenAllShowOne();
              })*/
              /*window.onresize = function() {
                divs.forEach(function(div, i){
                  console.log(div);
                  console.log(i);
                  Plotly.Plots.resize(div);
                });
              }*/
          </script>
        </footer>
    </body>
</html>
