<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <title>Análise</title>
        <link rel="stylesheet" href="styleIndex.css" type="text/css">
    </head>
    <body>
        <header>
          <span class="main-title">
            <h1>Análise de Dados</h1>
          </span>
        </header>
        <main>
           <div class="content-chart content-chart-1">
               <span class="chart-title">{{titleComplexChart}}</span>
               <div id="complexGraph" class="chart" name="chart-unique">
                   <!-- Aqui vai um dos gráficos -->
               </div>
               <span class="chart-footer"></span>
           </div>
           <div class="content-chart content-chart-2">
                {% for simpleGraph in simpleGraphs %}
               <span class="chart-title">{{simpleGraph['title']}}</span>
               <div id="{{'simpleGraph' ~ simpleGraph['id']}}" class="chart" name="chart-translater">
                   <!-- Aqui vão os graficos que serão alternados -->
               </div>
               <span class="chart-footer"></span>
               {% endfor %}
                <div id="control-charts">
                    <form>
                        <span class="control-items">
                            <span class="control-items-text">Por Produto</span>
                            <input type="radio" name="radio-chart">
                        </span>
                        <span class="control-items" name="radio-chart">
                            <span class="control-items-text">Por Região</span>
                            <input type="radio" name="radio-chart">
                        </span>
                    </form>
                </div>
           </div>
        </main>
        <footer>
            <div id="footer-text"></div>
            <!-- D3.js -->
            <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
            <!-- jQuery -->
            <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
            <!-- Plotly.js -->
            <script src="https://d14fo0winaifog.cloudfront.net/plotly-basic.js"></script>

            <script type="text/javascript">
              var graphComplex = {{complexGraph | safe}};
              Plotly.newPlot('complexGraph', graphComplex.data, graphComplex.layout);
              {% for simpleGraph in simpleGraphs %}
              var simpleGraph{{simpleGraph['id']}} = {{simpleGraph['data'] | safe}};
              Plotly.newPlot('simpleGraph{{simpleGraph['id']}}', simpleGraph{{simpleGraph['id']}}.data);
              {% endfor %}
          </script>
        </footer>
    </body>
</html>
